body {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	min-width: 800px;
}

#spacer {
	min-height: 10px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 60px;
	margin-bottom: 25px;
}

/* Containers
-----------------------------------------------------------------------------*/
.ocontainer {
	background: #5c9ccc;
	border-radius: 9px;
	padding: 5px;
}

.container {
	background: white;
	border-radius: 9px;
	border: 1px solid #5c9ccc !important;
	padding: 5px;
}

.icontainer {
	background: #E6E6E6;
	border-radius: 9px;
	border: 1px solid #5c9ccc !important;
}

.popup {
	z-index: 100;
}

.m3menu {
	display: none;
	position: absolute !important;	
	z-index: 1000;
	text-align: left;
}

/* Login
-----------------------------------------------------------------------------*/
.loginDialog, .newUserDialog {
	min-width: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

	.loginDialog .placeholder, .newUserDialog .placeholder {
		color: lightgray;
	}

	.loginDialog input, .newUserDialog input {
		min-width: 225px;
		padding: 4px;
	}

	.loginDialog .labelDiv, .newUserDialog .labelDiv {
		line-height: 1.65em;
		margin-right: 10px;
		padding: 4px;
	}


/* Middle
-----------------------------------------------------------------------------*/
#middleSection {
	margin-left: 250px;
	margin-right: 250px;
	height: 1%;
	position: relative;
}

#middleSection:after {
	content: '';
	clear: both;
	display: table;
}

#middleContainer {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}

#content {
	padding: 0 20px;
}
	/* Filter
	-----------------------------------------------------------------------------*/
	#filter {
		min-height: 150px;
	}
		
		#filter #filterTrash {
			float: right;
			margin-right: -5px;
			margin-top: -5px;
			min-height: 160px;
			min-width: 50px;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}

		#filter #filterTrash img{
			max-width: 50px; 
			margin-top: 50px;
		}

		#filter #filterTrash.enlargedTrash{
			min-width: 75px !important;
		}

		#filter #filterTrash.enlargedTrash img{
			max-width: 75px !important;
			margin-top: 40px !important;
		}

		#filter .filterCombination {
			position: absolute;
			padding: 10px 30px;
			max-height: 80px;
			min-height: 80px;
			min-width: 135px;
		}

		#filter .filterCombination img {
			max-width: 30px;
		}

		#filter .liveBuildToggle {
			text-align: center;
			/*float: left;*/
			cursor: pointer;
			font-weight: bold;
			margin-top: -18px;
			/*margin-left: -25px;*/
			/*margin-top: 45px;*/
		}

			#filter .liveBuildToggle div {
				padding: 1px;
				width: 100px;
				margin-left: auto;
				margin-right: auto;
				display: inline-block;
				min-width: 100px;
			}

		#filter .andOrToggle {
			float: left;
			cursor: pointer;
			font-weight: bold;
		}

		#filter .rootToggle.andOrToggle {
			margin-left: -25px;
			margin-top: 45px;
		}

		#filter .andOrToggle div {
			padding: 1px;
		}

			#filter .filterCombination .andOrToggle {
				margin-left: -50px;
				margin-top: -15px;
			}

	/* Feed
	-----------------------------------------------------------------------------*/
	#feed {
		margin-top: 25px;
	}

		/* Post
		-----------------------------------------------------------------------------*/
		#file_about_to_be_uploaded {
			max-height: 90px;
			max-width: 160px;
			border-radius: 9px;
			border: 1px solid #5c9ccc !important;
			position: relative;
			top: -2px;
		}

		#files-upload {
			float: left;
			margin-top: 25px;
			margin-left: 12px;
			font-size: 18px;
			width:240px;
		}

		#feed #postInput {
			margin-top: -25px !important; 
			box-shadow: 0px 3px 10px 2px gray;
			height: 140px;
			text-align: right;
			min-width: 500px;
		}

			#feed #postSection {
				margin-left: 75px;
				margin-right: 205px;
				height: 100px;
			}

			#feed #postSection:after {
				content: '';
				clear: both;
				display: table;
			}

				#feed #postSection .postContainer {
					width: 100%;
					height: 100%;
					float: left;
					overflow: hidden;
					margin-right: -100%;
					margin-left: -8px;
				}

					#feed #postSection .postContainer textarea {
						 width: 100%; 
						 height: 100%;
					}

				#feed #postSection aside {
					float: left;
					position: relative;
				}

				#feed #postSection aside.label {
					text-align: left;
					width: 50px;
					left: -75px;
				}

				#feed #postSection aside.tabs {
					width: 18px;
					left: -125px;
					margin-top: 7px;
				}

					#feed #postSection aside.tabs span {
						margin-top: 1px;
						background-color: #E6E6E6;
						border: 1px solid #5c9ccc;
					}

					#feed #postSection aside.tabs .active {
						border-right-color: white !important;
						background-color: white !important;
					}

				#feed #postSection aside.tags {
					float: right;
					margin-right: -200px;
					width: 200px;
					height: 100%;
					position: relative;
				}
					#feed #postSection aside.tags img {
						max-height: 35px;
						max-width: 35px;
					}

		#feed .post {
			margin-top: 10px;
			margin-left: 70px;
			height: 100px;
		}

			#feed .postWr {
				height: 100%;
				max-height: 100%;
				margin-left: 10px;
				margin-right: 70px;
				position: relative;
			}

				#feed .postWr img {
					max-height: 100%;
				}

				#feed .postWr .postContentWr {
					width: 100%;
					float: left;
					overflow: hidden;
					margin-right: -100%;
				}

					#feed .postWr .postContentWr .postContent {
						padding: 0 20px;
					}

				#feed .postWr .postCreator {
					float: left;
					width: 100px;
					position: relative;
					left: -100px;
				}
					#feed .postWr .postCreator div {
						display: inline;
					}

					#feed .postWr .postCreator img {
						max-height: 75px;
						max-width: 75px;
						margin-right: 5px;
						border-radius: 50%;
						border: 1px solid #5c9ccc;
					}

				#feed .postWr .postConnections {
					float: right;
					width: 100px;
					position: relative;
				}

					#feed .postWr .postConnections div {
						display: inline;
					}

					#feed .postWr .postConnections img {
						max-height: 45px;
						max-width: 45px;
						margin-right: 5px;
						border-radius: 50%;
						border: 1px solid #5c9ccc;
					}

				#feed .postWr .postLabels {
					float: right;
					margin-right: -90px;
					right: -20px;
					width: 105px;
					position: relative;
				}

					#feed .postWr .postLabels .label:not(:first-child) {
						margin-top: 15px;
					}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	position: relative;
	/*background: #B5E3FF;*/
	left: -250px;
}

	/* UserId
	-----------------------------------------------------------------------------*/
	#userId {
		position: relative;
	}

		#userId img {
			float: left; 
			margin-left: 5px; 
			margin-top: -15px; 
			border-radius: 50%;
			width: 100px;
			border: 1px solid #5c9ccc;
		}

		#userId .userIdTxt {
			padding-top: 15px;
		}

		#userId .aliasToggle {
			color: blue;
			text-decoration: underline;
			position: absolute;
			bottom: 0;
			right: 5px;
			width: 6em;
			/*margin-left: 8.75em;*/
			margin-bottom: .3em;
			cursor: pointer;
		}
		#userId .aliasBtn {
			padding: 2px 6px;
			width: 100%;
		}
			#userId .aliasBtn:last-child {
				border-bottom-left-radius: 9px;
				border-bottom-right-radius: 9px;
			}

			#userId .aliasBtn:first-child {
				border-top-left-radius: 9px;
				border-top-right-radius: 9px;
			}

	/* Labels
	-----------------------------------------------------------------------------*/
	.labelsList {
		overflow: auto;
	}

		.labelTree {
			min-width: 100%;
		}

	#labelc {
		margin-top: 15px;
	}

	#labels {
		padding: 5px;
	}

	.label {
		min-height: 40px;
		max-height: 40px;
		min-width: 100px; 
		padding: 0;
	}

		.label.small {
			min-height: 16px;
			max-height: 16px;
			min-width: 30px;
			font-size: .5em;
		}

		.labelTreeExpander {
			margin-top: 8px;
			margin-right: 3px;
			float: left;
			cursor: default;
		}

		.label .labelTail {
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right-width: 25px;
			border-right-style: solid;
			background: none; 
			display: table-cell;
		}

		.label.small .labelTail {
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
			border-right-width: 14px;
		}

		.label .labelBox {
			border-bottom-right-radius: 5px; 
			border-top-right-radius: 5px; 
			display: table-cell;
			min-width: 75px; 
			cursor: default;
		}

		.label.small .labelBox {
			min-width: 50px; 
		}

		.label .labelBody {
			margin: 3px;
			border-radius: 4px;
			background: white;
			min-width: 70px;
			border: 2px solid black;
			padding: 3px 4px;
		}

		.label.small .labelBody {
			min-width: 50px; 
		}

		.labelBox.small .labelBody {
			min-width: 45px;
		}

			.labelBody div {
				/*margin-top: 6px;*/
			}

		.labelChildren {
			margin-left: 50px;
			margin-top: 3px;
		}

		.newLabelButton {
			float: right;
		}

			.newLabelButton span {
				padding: .2em .4em !important;
				font-size: .8em !important;
			}

	.labelRed .labelBox {
		background: #D06C72;
	}
	.labelRed .labelTail {
		border-right-color: #D06C72;
	}

	.labelBlue .labelBox {
		background: #3D88C2;
	}
	.labelBlue .labelTail {
		border-right-color: #3D88C2;
	}

	.labelGreen .labelBox {
		background: #72D06C;
	}
	.labelGreen .labelTail {
		border-right-color: #72D06C;
	}

	.labelOrange .labelBox {
		background: #D0976C;
	}
	.labelOrange .labelTail {
		border-right-color: #D0976C;
	}

	.labelBrown .labelBox {
		background: #935A2F;
	}
	.labelBrown .labelTail {
		border-right-color: #935A2F;
	}

	.labelPurple .labelBox {
		background: #976CD0;
	}
	.labelPurple .labelTail {
		border-right-color: #976CD0;
	}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -250px;
	width: 250px;
	position: relative;
}

	/* #sideRightInvite
	-----------------------------------------------------------------------------*/
	#sideRightInvite {	
		margin-bottom: 15px;
	}

		#sideRightInviteInput, #sideRightInviteInput_PH {
			float: left;
			margin-top: 9px; 
		}

		#sideRightInviteInput_PH {
			color: gray;
		}

		#sideRightInviteInput:focus {
			outline: none;
		}

		#sideRightInvite button span {
			padding: .1em 1em;
		}

	/* #sideRightSearch
	-----------------------------------------------------------------------------*/
	#sideRightSearch {
		min-height: 50px;
	}

		#sideRightAddWrapper {
			background: green; 
			border: 4px solid #5c9ccc; 
			min-height: 40px; 
			max-width: 40px; 
			min-width: 40px;
			border-radius: 50%;
			float: left;
			margin-left: 5px;
		}

		#sideRightAdd {
			font-size: 22px; 
			font-weight: bolder; 
			margin-top: 7px;
		}

		#sideRightSearchInput {
			float: left;
			margin-top: 9px; 
			padding: 3px; 
			background: black;
			border: 2px solid #5c9ccc;
			border-radius: 12px;
			color:white;
			width: 160px;
		}

	/* #connections
	-----------------------------------------------------------------------------*/

	#connections {
		margin-top: 10px;
		padding: 3px;
		min-height: 250px;
	}

		#connections .connection {
			float: left;
			margin: 3px auto;
			width: 100%;
			padding: 5px;
			font-size: .9em !important;
		}

			#connections .connection div.avatar {
				/*border-radius: 50%; */
				max-width: 60px;
				margin-top: -10px;
			}

			#connections .connection div.avatar img, .connectionDraggingImg, .connectionAvatar img {
				max-width: 60px;
				border-radius: 50%;
				border: 1px solid #5c9ccc;
			}

			#connections .connection div {
				margin-top: 20px;
			}

			#connections .connection:nth-child(odd) div.avatar, #connections .connection:nth-child(even) div.name {
				float: left;
			}

			#connections .connection:nth-child(even) div.avatar, #connections .connection:nth-child(odd) div.name {
				float: right;
			}

	/* #chat
	-----------------------------------------------------------------------------*/
	#chat {
		font-size: 1em;
		min-height: 225px;
		max-height: 225px;
		margin-top: 15px;
	}
		/*#chat .chatContainer .chatMsg:nth-child(odd) div.avatar, #chat .chatContainer .chatMsg:nth-child(even) div.name {
			float: left;
		}

		#chat .chatContainer .chatMsg:nth-child(even) div.avatar, #chat .chatContainer .chatMsg:nth-child(odd) div.name {
			float: right;
		}*/

		#chat img {
			/*-webkit-column-break-before: always;*/
			max-width: 30px;
			clear: both;
		}

			#chat li img {
				max-height: 45px;
				max-width: 45px;
				margin-right: 5px;
				border-radius: 50%;
				/*border: 1px solid #5c9ccc;*/
			}

			#chat li a {
				padding: .1em .2em;
				font-size: .8em;
			}

		#chat .chatComp {
			padding: 3px 0 0 0;
			max-height: 192px;
			min-height: 192px;
			margin-top: 3px;
			overflow: auto;
		}

			#chat .chatComp .chatMsgs {
				max-height: 135px;
				min-height: 135px;
				overflow: auto;
			}

			#chat .chatComp .chatInput input {
				min-width: 98%;
			}

		#chat .chatComp .chatMsg div.name {
			z-index: 5;
			position: relative;
			margin-top: 5px;
			margin-bottom: 5px;
			max-width: 60%;
			/*clear: both;*/
		}

		/*#chat .chatComp .chatMsg:nth-child(odd) div.name {*/
		#chat .chatComp .chatMsg.chatLeft div.name {
			float: left;
			margin-right: auto;
			text-align: left; 

			/*margin-left: 36px;*/
			padding: 4px 10px 4px 15px; /*position within the border*/
		}

		/*#chat .chatComp .chatMsg:nth-child(odd) div.name:before{*/
		#chat .chatComp .chatMsg.chatLeft div.name:before{
			z-index: -1;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			content: "";

			border-width: 8px 10px 8px 17px; 
			border-image: url(../media/chat_left.png) 8 10 8 17 stretch stretch;
			-webkit-border-image: url(../media/chat_left.png) 8 10 8 17 stretch stretch;
			-moz-border-image: url(../media/chat_left.png) 8 10 8 17 stretch stretch;
			-o-border-image: url(../media/chat_left.png) 8 10 8 17 stretch stretch;
		}

		#chat .chatComp .chatMsg.chatRight div.name {
		/*#chat .chatComp .chatMsg:nth-child(even) div.name {*/
			float: right;
			margin-left: auto;
			text-align: right;

			/*margin-right: 36px;*/
			padding: 4px 15px 4px 10px; /*position within the border*/
		}

		/*#chat .chatComp .chatMsg:nth-child(even) div.name:before{*/
		#chat .chatComp .chatMsg.chatRight div.name:before{
			z-index: -1;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			content: "";

			border-width: 8px 17px 8px 10px; 
			border-image: url(../media/chat_right.png) 8 17 8 10 stretch stretch ;
			-webkit-border-image: url(../media/chat_right.png) 8 17 8 10 stretch stretch ;
			-moz-border-image: url(../media/chat_right.png) 8 17 8 10 stretch stretch ;
			-o-border-image: url(../media/chat_right.png) 8 17 8 10 stretch stretch ;
		}

		.bubbledLeft,.bubbledRight{
			position: relative;
			margin-top: 5px;
			margin-bottom: 5px;
			max-width: 80%;
			clear: both;
		}

		.bubbledLeft{
			float: left;
			margin-right: auto;
			margin-left: 36px;
			padding: 4px 10px 4px 15px; /*position within the border*/
		}

		.bubbledLeft:before{
			z-index: -1;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			content: "";

			border-width: 8px 10px 8px 17px; 
			border-image: url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
			-webkit-border-image: url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
			-moz-border-image: url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
			-o-border-image: url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
		}

		.bubbledLeft:after{
			z-index: -1;
			position: absolute;
			left: -36px;
			width: 32px;
			bottom: 0px;
			height: 32px;
			content:"";

			background-image: url(left_chatter.png);
			background-size: 32px 32px;
			background-position: bottom left;

			border-radius: 3px;
			-webkit-border-radius: 3px;	
			-moz-border-radius: 3px;	
			-o-border-radius: 3px;	
			-ms-border-radius: 3px;	
		}

		.bubbledRight{
			float: right;
			margin-left: auto;
			text-align: right;

			margin-right: 36px;
			padding: 4px 15px 4px 10px; /*position within the border*/	
		}

		.bubbledRight:before{
			z-index: -1;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			content: "";

			border-width: 8px 17px 8px 10px; 
			border-image: url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch ;
			-webkit-border-image: url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch ;
			-moz-border-image: url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch ;
			-o-border-image: url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch ;
		}

		.bubbledRight:after{
			z-index: -1;
			position: absolute;
			right: -36px;
			width: 32px;
			bottom: 0px;
			height: 32px;
			content:"";

			background-image: url(right_chatter.png);
			background-size: 32px 32px;
			background-position: bottom left;

			border-radius: 3px;
			-webkit-border-radius: 3px;	
			-moz-border-radius: 3px;	
			-o-border-radius: 3px;	
			-ms-border-radius: 3px;	
		}
/* RequestIntroductionDialog
-----------------------------------------------------------------------------*/

.rid_row {
	display: table-row;
}

.rid_cell {
	width: 270px;
	font-size: 12px;
	display: table-cell;
}

.rid_ta {
	resize: none;
	font-size: 12px;
	width: 100%;
	height: 100%;
}

/* Other
-----------------------------------------------------------------------------*/
.clear {
	clear: both;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.shadow {
	box-shadow: 0px 3px 10px 2px gray;
}

.shadowRight {
	box-shadow: 7px 5px 10px -2px gray	;
}

.textInput {
	padding: 3px 3px 3px 5px !important; 
	border: 2px solid #5c9ccc !important;
	border-radius: 12px;
	width: 100%;
	font-size: .9em !important;
}

.textInput:focus {
	outline: none;
}


/* jquery ui overrides
-----------------------------------------------------------------------------*/
.ui-draggable-dragging {
	z-index: 10000;
}

.ui-effects-transfer {
    border: 1px dotted black;
    border-radius: 9px;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

