.center {
	text-align: center;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
}

.myclearfix:before,
.myclearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;	
}
.myclearfix:after {clear: both;}
.myclearfix {zoom: 1;} /* IE < 8 */

.error {
	color: red !important;
	font-weight: bolder !important;
	font-size: 1.1em !important;
}

.displayInlineBlock {
	display: inline-block !important;
}

.inlineCheckbox {
	margin-left: 4px;
	margin-right: 4px;
}

.m3menu {
	z-index: 20;
}

.hideBtnInnerBorder .ui-btn-inner{
	border-top: none !important;
}

.boxSizingFix {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sideBySideDivWrapper {
	white-space: nowrap;
}

	.sideBySideDivWrapper > div {
		display: inline-block;
	}