
body {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	min-width: 800px;
	font-family: Helvetica,Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size:12px;
}

#spacer {
	min-height: 10px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	/*height: 60px;*/
	margin-bottom: 25px;
}

	#header #navHomeButton {
		float: left;
		margin-left: 15px;
	}

	#header #navBackButton {
		float: left;
		margin-left: 15px;
	}

/* Containers
-----------------------------------------------------------------------------*/
.content {
	max-width: 1000px;
	margin: auto;
	text-align: left;
}

.ocontainer {
	background: #333;
	border-radius: 9px;
	padding: 5px;
}

.container {
	background: white;
	border-radius: 9px;
	border: 1px solid #333 !important;
	padding: 5px;
}

.icontainer {
	background: #E6E6E6;
	border-radius: 9px;
	border: 1px solid #333 !important;
}

.popup {
	z-index: 100;
}

.m3menu {
	display: none;
	position: absolute !important;	
	z-index: 1000;
	text-align: left;
}

/* Login
-----------------------------------------------------------------------------*/
.loginDialog, .createAgentDialog {
	min-width: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

	.loginDialog .placeholder, .createAgentDialog .placeholder {
		color: lightgray;
	}

	.loginDialog input, .createAgentDialog input {
		min-width: 225px;
		padding: 4px;
	}

	.loginDialog .labelDiv, .createAgentDialog .labelDiv {
		line-height: 1.65em;
		margin-right: 10px;
		padding: 4px;
	}


/* Widgets
-----------------------------------------------------------------------------*/
	/* ._boardList
	-----------------------------------------------------------------------------*/

	._boardList {
		overflow: auto;
		text-align: left;
		margin-top: 20px;
	}

		._albumList>h2 {
			margin-top: 0px;
		}

		._boardList h2 {
			display: inline-block;
			font-size: 28px;
			vertical-align: top;
		}

		._boardList ._boardComp {
			width: 31%;
			max-width: 31%;
			min-width: 31%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			border: 1px solid gray;
			padding: 5px;
			margin-bottom: 10px;
			text-overflow: ellipsis;
		}

			/*._boardList ._boardComp:nth-child(2n),*/
			._boardList ._boardComp:nth-child(3n + 2),
			._boardList ._boardComp:nth-child(3n) {
				margin-left: 1%;
			}

			._boardList ._boardComp .labelNameWrapper {
				text-align: left;
				font-size: 18px;
				font-weight: bold;
			}
			._boardList ._boardComp img {
				max-height: 210px;
				min-height: 210px;
			}

	/* ._optionBar
	-----------------------------------------------------------------------------*/

	._optionBar, .optionBar {
		padding: 10px;
		margin-top: 10px;
	}

		.optionBar .boardOwner,
		.optionBar .pinCount {
			font-size: 20px;
			line-height: 30px;
		}

	/* ._boardDetails
	-----------------------------------------------------------------------------*/
	._boardDetails {
		text-align: center;
	}
		._boardDetails .boardLabel {
			font-size: 42px;
		}

		._boardDetails .editButton, ._boardDetails .deleteButton {
			float: right;
			min-height: 24px;
			width: 24px;
		}

		._boardDetails .updateLabelPopup {
			font-size: 18px
		}

	/* ._contentFeed
	-----------------------------------------------------------------------------*/
	._pinFeed {
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-left: 15px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	/* ._connectionsList
	-----------------------------------------------------------------------------*/

	._connectionsList {
		overflow: auto;
		text-align: left;
		margin-top: 20px;
	}

		._connectionsList h2 {
			display: inline-block;
			font-size: 28px;
			vertical-align: top;
		}

		._connectionsList ._connectionComp {
			width: 31%;
			max-width: 31%;
			min-width: 31%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			border: 1px solid gray;
			padding: 5px;
			margin-bottom: 10px;
			text-overflow: ellipsis;
		}

			._connectionsList ._connectionComp:nth-child(3n + 2),
			._connectionsList ._connectionComp:nth-child(3n) {
				margin-left: 1%;
			}

			._connectionsList ._connectionComp .labelNameWrapper {
				text-align: left;
				font-size: 18px;
				font-weight: bold;
			}
			._connectionsList ._connectionComp img {
				max-height: 210px;
				min-height: 210px;
			}

	/* UserId
	-----------------------------------------------------------------------------*/
	._aliasComp {
		/*position: relative;*/
	}

		._aliasComp>div {
			display: inline-block;
			vertical-align: top;
		}

		._aliasComp .userImg {
			float: left; 
			margin-left: 5px; 
			margin-top: -15px; 
			border-radius: 50%;
			width: 100px;
			border: 1px solid #5c9ccc;
		}

		._aliasComp .connectionAvatar {
			/*float: left;*/
			/*margin-left: 10px;*/
			/*margin-left: -45px;*/
		}

			._aliasComp .connectionAvatar img {
				max-width: 180px;
			}

		._aliasComp .userIdTxt {
			font-weight: bold;
			/*max-width: 100px;*/
			/*text-align: right;*/
			/*float: right;*/
			font-size: 22px;
			margin-left: 20px;
			margin-top: 10px;
		}

#userBar {
	float: right;
	margin-right: 10px;
	margin-top: 2px;
}
	#userBar>div {
		display: inline-block;
		vertical-align: top;
	}
	#userBar img {
		max-height: 30px;
	}

	#userBar .userIdTxt {
		line-height: 30px;
		width: 170px;
	}

._commentsComp {
	padding-left: 20px;
	padding-right: 20px;
}
	._commentsComp>h2 {
		margin-top: 0px;
	}
		._commentsComp .newCommentDiv {
			margin-top: 20px;
		}
			._commentsComp .newCommentDiv button {
				float: right;
			}

		._commentsComp ._commentComp {
			background-image: none !important;
			padding: 10px;
			margin-bottom: 10px;
		}
			._commentsComp ._commentComp>div {
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
			}
			._commentsComp ._commentComp ._connectionComp {
				text-align: center;
			}
				._commentsComp ._commentComp  ._connectionComp img {
					max-height: 100px;
				}

/* *************************************************
	                  DIALOGS
   ************************************************ */
/* ._aliasManagerDialog
	-----------------------------------------------------------------------------*/
._aliasManagerDialog #leftDiv {
	max-width: 80%;
}
	._aliasManagerDialog #leftDiv .userImg {
		max-width: 60%;
	}

._aliasManagerDialog #rightDiv {
	max-width: 20%;
}

/* *************************************************
	                  PAGES
   ************************************************ */
#homeScreen {
	white-space: nowrap;
}
	#homeScreen ._boardList {
		white-space: normal;
	}

.__boardScreen .content {
	text-align: left;
}

	.__boardScreen .contentComp,
	.__boardScreen .addPinDiv {
		width: 31%;
		max-width: 31%;
		min-width: 31%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 250px;
		max-height: 250px;
		min-height: 250px;
		border: 1px dotted;
		padding-bottom: 4px;
	}

		.__boardScreen .wrapper>div {
			margin-left: 1%;
			margin-bottom: 5px;
		}

		.__boardScreen .addPinDiv {
			background-color: lightgoldenrodyellow;
			line-height: 200px;
			font-size: 30px;
			border: dashed;
		}

		.__boardScreen .contentComp .imgDiv {
			padding-top: 5px;
			height: 220px;
			max-height: 220px;
			min-height: 220px;
		}

			.__boardScreen .contentComp .imgDiv img {
				max-height: 210px;
			}
		.__boardScreen .contentComp .caption {
			height:28px;
			line-height: 28px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border-top: 1px dotted;
			background-color: lightgrey;
		}

	.__boardScreen .connectionsContainer {
		min-height: 500px;
		overflow: auto
	}

	.__boardScreen ._connectionComp {
		margin: auto;
		max-width: 80%;
	}
		.__boardScreen ._connectionComp>div {
			display: inline-block;
			vertical-align: middle;
		}

#contentScreen .content {

}
	#contentScreen ._mediaOptionsComp {
		text-align: center;
	}
		#contentScreen ._mediaOptionsComp>button:not(:first-child) {
			margin-left: 20px;
		}

	#contentScreen ._mediaComp>div {
		margin-top: 15px;
		padding: 10px;
	}
	
	#contentScreen .imgDiv {
		text-align: center;
	}
		#contentScreen .imgDiv .captionDiv>div{
			display: inline-block;
		}
		#contentScreen .imgDiv .captionDiv .caption{
			font-size: 20px;
		}

	#contentScreen ._mediaComp .updateCaptionPopup label,
	#contentScreen ._mediaComp .updateCaptionPopup textarea {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
	}
	#contentScreen ._mediaComp .updateCaptionPopup textarea {
		width: 500px;
	}

/* Other
-----------------------------------------------------------------------------*/
.clear {
	clear: both;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.shadow {
	box-shadow: 0px 3px 10px 2px gray;
}

.shadowRight {
	box-shadow: 7px 5px 10px -2px gray	;
}

.textInput {
	padding: 3px 3px 3px 5px !important; 
	border: 2px solid #5c9ccc !important;
	border-radius: 12px;
	width: 100%;
	font-size: .9em !important;
}

.textInput:focus {
	outline: none;
}

.clickable {
	cursor: pointer;
}


/* jquery ui overrides
-----------------------------------------------------------------------------*/
.ui-draggable-dragging {
	z-index: 10000;
}

.ui-effects-transfer {
    border: 1px dotted black;
    border-radius: 9px;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}


