<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
		 id="agentui-proxy"
		 xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>agentui-proxy</display-name>

    <!-- guice filter -->
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>m3.servlet.GuiceFilter</filter-class>
        <load-on-startup>15</load-on-startup>
    </filter>
    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>



